body {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    background-color: #4f99be !important;
}


.photo h2 {
    color: #fcca67 !important;
    font-size: 25px;
   text-shadow: 4px 4px 5px #000000;
}




img {
     border-radius: 8px;
     box-shadow: 1px 1px 3px 1px #ecf0f1 ;
    
}

.photo {
  position: relative;
  width: 300px;
  height: 169px;
  line-height: 0;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 8px;
}

.photo-overlay {
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;

}


.row p {
    line-height: 19px;
    padding-bottom: 15px;
    color: white;
}

.button {
    
}

.photo1 {
  position: relative;
  width: 1825px;
  height: 200px;
  line-height: 0;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 8px;
}

.photo-overlay1 {
    position: relative;
    top: -10;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 0px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;

}








.navbar {
  background-color: #242424;
}
.navbar .navbar-brand {
  color: #fdb822;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #78152b;
}
.navbar .navbar-text {
  color: #fdb822;
}
.navbar .navbar-text a {
  color: #78152b;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #78152b; 
}
.navbar .navbar-nav .nav-link {
  color: #fdb822;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #78152b;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #78152b;
  background-color: #ecf0f1;
}
.navbar .navbar-toggle {
  border-color: #ecf0f1;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ecf0f1;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #fdb822;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #fdb822;
}
.navbar .navbar-link {
  color: #fdb822;
}
.navbar .navbar-link:hover {
  color: #78152b;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdb822;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #78152b;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #78152b;
    background-color: #ecf0f1;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdb822;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #78152b;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #78152b;
    background-color: #ecf0f1;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdb822;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #78152b;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #78152b;
    background-color: #ecf0f1;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdb822;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #78152b;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #78152b;
    background-color: #ecf0f1;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #fdb822;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #78152b;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #78152b;
  background-color: #ecf0f1;
}