/* Body */
body {
    margin: 0%;
}

/* NavBar */
.Navbar {
    overflow: hidden;
    background-color: orangered;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* NavBar text */
.Navbar a {
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace, cursive;
    font-size: 20px;
    text-align: center;
}

.Navbar a:hover {
    background-color: whitesmoke;
    color: turquoise;
    font-weight: bold;
}

/* Navbar home button */
.Navbar a.active {
    background-color: whitesmoke;
}

/* Video */
#Tiger_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/*Text over the video*/
.video_text {
    background: rgba(224, 197, 153, 0.5);
    color: black;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
    box-sizing: border-box;
}

.column_2 {
    float: left;
    width: 50%;
    padding-top: 3%;
    height: 400px;
    background-color: orangered;
}

.column_1 {
    float: left;
    width: 50%;
    padding-top: 3%;
    height: 400px;
    background-color: rgb(0, 0, 0);
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3%;
   color: white;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    letter-spacing: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

center {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: blue;
}

q {
    font-style: italic;
    font-weight: bold;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
} 

center:hover {
    transition: transform 2s;
    transform: scaleX(-1);
}

p:hover {
    color: rgba(211, 121, 48, 0.5);
    transition: trasform 1s;
    transform: scale(1.01);
}

h1:hover {
    font-style: italic;
}

img:hover {
    filter: grayscale(-20%);
    transition: transform .6s;
    transform: scale(1.1);
}

footer {
    padding: 2%;
    background-color: white;
}

