html{
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 70%;
}

body { 
    font-size: 20px;
    margin: auto;
    font-family: Impact, Haettenschweiler, sans-serif;
}

footer,
nav {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, sans-serif;
}

h1 {
    font-size: 30px;
    color: yellow;
}


h2 {
    font-size: 17px;
}


h3 {
    font-size: 15px;
}


h4 {
    font-size: 17px;
}


p {
    font-size: 17px;
}


.contact input[type="text"] {
    margin: 0;
    width: 10px 1em;
    border: 3px dashed violet ;
    border-radius: 10px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}